.profileContainer {
    height: calc(100vh - 175px);
    display: flex;
    /*gap: 16px;*/
}

.profileImageBackground {
    background-color: #DADADA;
    width: 100%;
    height: 100px;
    position: fixed;
    margin-top: 75px;
    z-index: 900;
}

.profilePicture {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #132F45;
    display: flex;
    align-items: center;
    justify-content: center;
    /*cursor: pointer;*/
}

.profilePicture > p {
    margin: 0;
    font-size: 64px;
    font-weight: bold;
    color: #369ED1;
}

.profileDetailsContainer {
    position: fixed;
    top: 175px;
    /*position: relative;*/
    /*to avoid image background - 75px of image and 11px gap*/
    padding: 91px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    min-height: calc(100vh - 175px);
    width: 30%;
    max-width: 450px;
    z-index: 999;
}

/* PROFILE NAME */
.profileDetailsContainer > h2 {
    text-align: center;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 16px;
}

.profileDetails .profileDetail:first-of-type {
    margin-bottom: 1rem;
}

.profileDetailsHeader {
    background-color: #C5DEE6;
    padding: 0 1rem;
    border-radius: 8px;
}

.profileDetail {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileDetail > p {
    margin: 0;
}

.profileDetail p:last-child {
    font-weight: 600;
}


/* PROJECTS */
.profileProjects {
    width: 70%;
    height: 100%;
    padding: 2rem 2rem 4rem 2rem;
    margin-left: calc(30% + 48px);
    margin-top: 175px;
    /* overflow-y: scroll; */
}

.profileProjectsWorkedOnContainer {
    height: 364px;
    padding: 32px;
}

.profileProjectsConnections {
    padding: 32px;
}

.profileProjectsWorkedOn {
    display: flex;
    gap: 16px;
}

.profileProjectsWorkedOnContainer > .row {
    margin: 0 !important;
}

.slick-slide > div {
    padding: 0 12px;
}

.slick-prev:before,
.slick-next:before {
    color: #132F45 !important;
}

@media only screen and (max-width: 1200px) {
    .profileProjectsWorkedOnContainer {
        height: 264px;
    }

    .profileProjects {
        width: 60%;
        margin-left: calc(40% + 48px);
    }

    .profileDetailsContainer {
        width: 40%;
        /*width:inherit;*/
    }
}

@media only screen and (max-width: 992px) {
    .profileContainer {
        flex-direction: column;
        align-items: center;
    }

    .profileImageBackground {
        height: 100px;
        position: relative;
        margin-top: 75px;
        /*z-index: 900;*/
    }

    .profileDetailsContainer {
        width: 100%;
        align-items: center;
        max-width: 600px;
        position: relative;
        top: 0;
    }

    .profileDetails {
        width: 80%;
    }

    .profileProjects {
        height: fit-content;
        overflow: inherit;
        width: 100%;
        /*margin-top: 100%;*/
        margin: 0;
    }

    .profileProjects h3 {
        text-align: center;
    }
}