/* GENERAL REUSABLE STYLES */
/* use only for common css styling */
* {
    box-sizing: border-box;
}

/* CUSTOM BUTTONS */
.btn-custom-primary {
    background-color: #369ED1 !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-size: 24px !important;
    font-weight: 600 !important;
    letter-spacing: 2px;
}

.btn-custom-primary:hover {
    background-color: #132F45 !important;
}

.btn-custom-secondary {
    display: inline-block !important;
    outline: 0 !important;
    border: none !important;
    border-radius: 16px !important;
    font-weight: 600 !important;
}

.btn-custom-secondary:hover {
    font-weight: 600 !important;
    font-size: 16px !important;
    background: #fff !important;
    color: #696969 !important;
    background: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%) !important;
}

.btn-custom-tertiary {
    display: block !important;
    outline: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    width: 100%;
    text-align: start !important;
}

.btn-custom-tertiary:hover {
    font-weight: 600 !important;
    font-size: 16px !important;
    background: #e8e8e8 !important;
    color: #696969 !important;
}

.btn-custom-tertiary-small {
    display: block !important;
    outline: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    width: 100%;
    font-size: 14px !important;
    text-align: start !important;
    padding: 0 12px 0 12px !important;
    border-radius: 0 !important;
}

.btn-custom-tertiary-small:hover {
    font-weight: 600 !important;
    font-size: 14px !important;
    background: #e8e8e8 !important;
    color: #696969 !important;
}

.btn-custom-tertiary-v2 {
    display: block !important;
    outline: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    width: 100%;
    text-align: start !important;
    background: #e7e7e7 !important;
}

.btn-custom-tertiary-v2:hover {
    font-weight: 600 !important;
    font-size: 16px !important;
    background: #d3d3d3 !important;
    color: #696969 !important;
}


.btn-custom-tertiary-small-v2 {
    display: block !important;
    outline: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    width: 100%;
    font-size: 14px !important;
    text-align: start !important;
    background: #e7e7e7 !important;
    padding: 0 12px 0 12px !important;
}

.btn-custom-tertiary-small-v2:hover {
    font-weight: 600 !important;
    font-size: 14px !important;
    background: #d3d3d3 !important;
    color: #696969 !important;
}

.btn-custom-tertiary-v3 {
    display: block !important;
    outline: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    width: 100%;
    text-align: start !important;
    /*background: #e7e7e7 !important;*/
    padding: 8px 20px;
}

.btn-custom-tertiary-v3:hover {
    font-weight: 600 !important;
    font-size: 16px !important;
    background: #f0f0f0 !important;
    color: #696969 !important;
}

.btn-custom-circle-backlog {
    /*display: block !important;*/
    outline: 0 !important;
    border: none !important;
    width: 28px !important;
    height: 28px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #696969 !important;
    padding: 0 !important;
}

.btn-custom-circle-backlog:hover {
    filter: brightness(90%);
}

.btn-custom-circle-v2 {
    /*display: block !important;*/
    outline: 0 !important;
    border: none !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #696969 !important;
    padding: 0 !important;
}

.btn-custom-circle-v2:hover {
    filter: brightness(90%);
}

.btn-custom-circle-v2 > p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
}

.btn-custom-circle-v2 > .assigneeLettersLarger {
    font-size: 16px;
}


.btn-custom-circle-v2-selected {
    /*display: block !important;*/
    /*outline: 0 !important;*/
    border: none !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #132F45 !important;
    padding: 0 !important;
    outline: white solid 3px !important;
    box-shadow: 0 0 12px -2px #369ED1;
}

.btn-custom-circle-v2-selected > .assigneeLettersLarger {
    font-size: 16px;
    color: #369ED1;
}

.btn-custom-circle-v2-selected > p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #369ED1;
}

.btn-custom-circle-v2-selected:hover {
    filter: brightness(90%);
}


/* ALERTS */
.custom-centered-alert {
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Higher than most other items so it appears on top */
    width: auto; /* Adjust based on content size or leave as auto */
    border-radius: 0 !important; /* Optional, for full-width can remove border-radius */
}