.userComponentContainer {
    background-color: #fafafa;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
    transition: background-color 0.3s ease;
    margin: 10px 0px;
    display: flex;
    justify-content: left center;
    /* cursor: pointer; */
}

.userComponentContainer:hover {
    background-color: #dadada;
}

.btn-custom-circle {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001f38 !important;

}

.btn-custom-circle > p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #87caff !important;
    
}


.btn-custom-circle .userLetters {
    font-size: 16px;
}

.icon {
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .userComponentContainer {
        height: auto; 
    }
}
