.taskComponentContainer {
    background-color: #fafafa;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
    transition: background-color 0.3s ease;
    margin: 10px 0px;
    display: flex;
    justify-content: left center;
    cursor: pointer;
}

.taskComponentContainer:hover {
    background-color: #dadada;
}

@media only screen and (max-width: 1200px) {
    .taskComponentContainer {
        height: auto; 
    }
}
