.issuesContainer {
    width: 100%;
    padding: 24px 32px;
    /* margin-left: 256px; */
}

.projectLocation {
    /* padding-bottom: 8px; */
    display: flex;
    color: rgb(77, 77, 77);
    padding-left: 1px;
}

.projectLocation > .nav-link:hover {
    text-decoration: underline;
}

.issuesHeader {
    font-size: larger;
    font-weight: 600;
    padding: 16px 0px;
}

.contentContainer {
    display: flex;
    gap: 16px;
    height: calc(100vh - 75px);
}

.issuesListContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 1px;
    gap: 1px;
    overflow-y: scroll;
    height: auto;
}

.issueDetailsContainer {
    width: 80%;
    padding: 2px 16px;
    min-height: 100vh;
}

.issueLocation {
    /* padding-bottom: 8px; */
    display: flex;
    color: rgb(77, 77, 77);
    padding-left: 4px;
}

.issueDetails {
    /* background-color: rgb(0, 255, 255); */
    /* min-height: calc(100vh - 75px); */
    /* height: min-; */
    margin-right: 16px;
}

.issueName {
    font-size: x-large;
    font-weight: 600;
    padding: 16px 4px;
}

.issueName > p > span {
    transition: background-color 0.2s ease;
}

.issueName > p > span:hover {
    background-color: rgb(240, 240, 240);
}

.issueName > p > input {
    /* doesn't work :( */
    border-style: solid;
    border-color: #87caff;
    border-width: 1px;
}

.issueDescription {
    padding: 0;
    margin-bottom: 32px;
    /* background-color: aqua; */
}

.edit-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical;
}

.description-preview {
    border: 1px;
    border-radius: 4px;
    padding: 0px 4px;
    color: rgb(56, 56, 56);
    /* margin-bottom: 12px; */
}

.description-preview:hover {
    background-color: #f5f5f5;
}

.issueCommentsContainer {
    padding-left: 4px;
}

.issueComments {
    gap: 4px;
}

.createComment {
    margin: 24px 0;
}

.createComment form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-comment {
    display: flex;
    align-items: center;
    color: gray;
    border: gray 0.5px solid;
    border-radius: 8px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    cursor: text;
}

.add-comment:hover {
    background-color: rgb(240, 240, 240);
}

/* to jest bez sensu ale zostawiam do stylowania inputu szukania */
/* .add-comment input[type="text"],
.add-comment textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical;
}

.add-comment button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-comment button:hover {
    background-color: #0056b3;
} */