.projectPageContainer {
    /*background-color: red;*/
    width: 100%;
    height: calc(100vh - 75px);
    padding: 24px 32px;
}

.projectLocation {
    /* padding-bottom: 8px; */
    display: flex;
    color: rgb(77, 77, 77);
    padding-left: 1px;
}

.projectLocation > .nav-link:hover {
    text-decoration: underline;
}

.backlogName {
    font-size: larger;
    font-weight: 600;
    padding: 16px 0;
}

.backlogName > h2 > span {
    transition: background-color 0.2s ease;
}

.backlogName > h2 > span:hover {
    background-color: rgb(240, 240, 240);
}

/* ACCORDION STYLING */
.accordion-button {
    background-color: white !important;
    padding: 8px 20px;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    /*color: red;*/
}

.accordion-button:not(.collapsed, :focus) {
    box-shadow: none;
}

.accordion-button::before {
    flex-shrink: 0;
    transform: rotate(-90deg);
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 16px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: rotate(0deg);
}

.accordion-button::after {
    display: none;
}

.accordion-button > .btn-custom-tertiary-v2{
    width: fit-content;
    margin-left: auto;
}

.accordion-button > p{
    margin: 0;
}

.accordion-body {
    padding: 8px 20px;
}

.accordion-body > .btn-custom-tertiary-v2{
    margin-top: 6px;
}

.sprintsContainer .accordion-button{
    background-color: #FAFAFA !important;
    padding: 14px 20px;
}

.sprintsContainer .accordion-item{
    margin-bottom: 16px;
}

.accordionHeaderContainer {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
}

.accordion-header {
   flex: 1;
    margin-right: 16px;
}

.accordionHeaderContainer > .btn-custom-tertiary-v2{
    width: fit-content;
    height: fit-content;
}

/*.dropdown {*/
/*    position: absolute;*/
/*    top: 100%; !* Positions the dropdown right below the button *!*/
/*    right: 0; !* Aligns the dropdown to the left edge of the container *!*/
/*    z-index: 1000; !* Ensures it's on top of other content *!*/
/*    width: auto; !* Adjust based on content size *!*/
/*    background-color: white;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
/*    border-radius: 5px;*/
/*    overflow: hidden; !* Keeps the child elements within the box *!*/
/*}*/


/*.dropdown button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 8px 20px;*/
/*    text-align: left;*/
/*    border: none;*/
/*    background: none;*/
/*    outline: none;*/
/*    color: black;*/
/*    cursor: pointer;*/
/*}*/

/*.dropdown button:hover {*/
/*    background-color: #f0f0f0;*/
/*}*/