.commentBody {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.author {
    font-weight: bold;
    color: rgb(39, 39, 39);
}

.author:hover {
    color: black;
}

.message {
    word-wrap: break-word; /* Ensure long words wrap */
    white-space: pre-wrap; /* Preserve whitespace formatting */
    /* box-sizing: border-box;
    width: 100%; */
}