.commentBody {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.author {
    font-weight: bold;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.author:hover {
    color: black;
}

.mod {
    color: rgb(37, 37, 37);
    /* font-weight: normal !important; */
    margin-left: 8px;
    height: 14px;
    cursor: pointer;
}

.message {
    word-wrap: break-word; /* Ensure long words wrap */
    white-space: pre-wrap; /* Preserve whitespace formatting */
    /* box-sizing: border-box;
    width: 100%; */
}