.homeContainer {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 175px);
    padding: 16px;
}

.recentProjectsContainer {
    width: 100%;
    height: auto;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.projectsHeaderRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.projectsHeader {
    margin-right: auto;
    margin-bottom: 16px;
}

.projectsLink {
    margin-left: auto;
    margin-bottom: 16px;
}

.projectsLink > a {
    font-weight: bold;
}

.projectsLink > a:hover {
    color:blue;
}

.summaryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.tab {
    cursor: pointer;
    padding: 10px 20px 10px 0px;
    font-weight: 600;
    transition: color 0.3s ease !important;
}

.tab:hover {
    color:gray;
}

.tab.active {
    color: #FF6B35;
}

.tab-content {
    padding-top: 5px;
}
  
.tab-line {
    margin: 10px 0px 0px 0px;
    width: 100%;
    background-color: gray;
    height: 2px;
    position: relative;
    bottom: 0;
}

.tab.active .tab-line {
    background-color: #FF6B35;
}
  